# =========================
# FRONTEND
# =========================
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.next/
frontend/.env

# =========================
# BACKEND
# =========================
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.env
backend/logs/

# Ignore seulement les fichiers temporaires si besoin
backend/affiche.py
backend/test_gemini.py    

# =========================
# NODE GLOBAL
# =========================
node_modules/

# =========================
# DATASETS & MODELS
# =========================
model_data/datasets/*.csv 
model_data/models/*.pkl 
model_data/model-label/*.pkl

# =========================
# NOTEBOOKS CHECKPOINTS
# =========================
*.ipynb_checkpoints/  

# =========================
# LOGS
# =========================
backend/logs/*.log

# =========================
# SYSTEM / IDE 
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
